<h2>My Wishlist</h2>

<div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Price</th>
      <th>Remove</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody *ngIf="user.wishlist.length > 0">
    <tr *ngFor="let product of getProducts()">
      <td *ngIf="product">{{ product.name }}</td>
      <td *ngIf="product">{{ product.price | currency }}</td>
      <td *ngIf="product"><button class="btn btn-danger" (click)="removeItemFromWishlist(product)">Remove</button></td>
      <td *ngIf="product"><button class="btn btn-primary" (click)="viewProductDetails(product._id)">View Details</button></td>
    </tr>
  </tbody>
</table>

<p *ngIf="user.wishlist.length == 0">Your wishlist is empty.</p>
