<div class="search-container">
  <input type="text" placeholder="Search products..." [(ngModel)]="searchTerm" (input)="filterProducts()">
  <button *ngIf="searchTerm" class="clear-button" (click)="searchTerm=''">Clear</button>
</div>

<div class ="no-results-message" *ngIf="filteredProducts.length === 0">No products found</div>
<div style="color:rgb(255,0,0);" *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>

<div class="container">
  <div class="row">
    <div *ngFor="let product of filteredProducts" class="col-md-4">
      <div class="card mb-3">
        <img src="{{product.imageUrl}}" class="card-img-top" alt="{{product.name}}">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <div class="d-flex justify-content-between align-items-center">
            <button class="btn btn-primary" (click)="viewDetails(product._id)">View Details</button>
            <p class="mb-0">{{product.price}}€</p>
            <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
            <button class="btn btn-primary-Wish-WishList"  (click)="addToWishList(product)">Add to Wishlist</button>

          </div>
          <div class="tooltip" *ngIf="showTooltip">
            <div class="tooltip-text" >
              <h5>{{product.name}}</h5>
              <p>{{product.tipo}}</p>
              <p>{{product.rate}}</p>
              <p>{{product.idioma}}</p>
              <p>{{product.plataform}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="cart-container">
  <h2>Cart</h2>
  <ul>
    <li *ngFor="let item of cartService.getItems()" class="cart-item">
      <div class="product-name">{{ item.product.name }}</div>
      <div class="quantity">
        <button class="decrease" *ngIf="item.quantity > 0" (click)="cartService.updateQuantity(item.product, item.quantity - 1)">-</button>
        {{ item.quantity }}
        <button class="increase" (click)="cartService.updateQuantity(item.product, item.quantity + 1)">+</button>
      </div>
      <div class="price">{{ item.product.price * item.quantity }}€</div>
      <div class="remove"><button class="removeItem" (click)="cartService.removeItem(item.product)">Remove</button></div>
    </li>
  </ul>
  <div class="cart-footer">
    <div class="total">
      <p>Total: {{ cartService.getTotal() }}€</p>
    </div>
    <div class="actions">
      <button class="checkout" routerLink="/checkout">Checkout</button>
      <button class="clearCart" (click)="cartService.clearCart()">Clear Cart</button>
    </div>
  </div>
</div>






